---
#Language:        Cpp
BasedOnStyle:    LLVM

BinPackArguments: true
AllowAllArgumentsOnNextLine: true

AlignArrayOfStructures: Left
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCaseColons: false
AlwaysBreakAfterDefinitionReturnType: All
BreakAdjacentStringLiterals: false
BreakAfterReturnType: TopLevelDefinitions
AlwaysBreakAfterReturnType: AllDefinitions
#IndentGotoLabels: HalfIndent
InsertNewlineAtEOF: true
#InsertTrailingCommas: Wrapped
JavaScriptQuotes: Double
#Language: C
LineEnding: LF
RemoveParentheses: ReturnStatement

SpaceAfterCStyleCast: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterForeachMacros: true
  AfterFunctionDeclarationName: true
  AfterFunctionDefinitionName: true
  AfterIfMacros: true
  AfterOverloadedOperator: false
  AfterPlacementOperator: false
  AfterRequiresInClause: false
  AfterRequiresInExpression: false
  BeforeNonEmptyParentheses: false

IndentWidth:     4
TabWidth:        8
UseTab:          Never
ColumnLimit:     80
ContinuationIndentWidth: 4

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction:      true
  AfterControlStatement: false
  AfterEnum:          false
  AfterStruct:        false
  AfterUnion:         false
  AfterExternBlock:   false
  BeforeElse:         false
  BeforeWhile:        false
  SplitEmptyFunction: false
  SplitEmptyRecord:   false

IndentCaseLabels: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

PointerAlignment: Right
ReferenceAlignment: Right

AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: Consecutive
AlignConsecutiveBitFields: None
AlignTrailingComments: true
AlignOperands: DontAlign
AlignAfterOpenBracket: Align

BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true

SpacesInParentheses: false
SpaceBeforeAssignmentOperators: true

IndentPPDirectives: None
AlignEscapedNewlines: Left
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false

SortIncludes: Never
ReflowComments: false
