Source: libslax
Priority: extra
Maintainer: Rob Johnston <rjohnst@juniper.net>
Build-Depends: debhelper (>= 8), dh-autoreconf, libxml2-dev, libxslt1-dev, libcurl4-gnutls-dev, libreadline-dev
Standards-Version: 3.9.4
Section: libs
Homepage: https://github.com/Juniper/libslax/

Package: libslax0-dev
Section: libdevel
Architecture: any
Depends: libslax0
Description: Alternative syntax for XSLT - development kit

Package: libslax0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Alternative syntax for XSLT - runtime library
