#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@  --with autoreconf

override_dh_install:
	mkdir -p $(CURDIR)/debian/tmp/usr/share/doc/libslax0
	mv $(CURDIR)/debian/tmp/usr/share/doc/libslax/* $(CURDIR)/debian/tmp/usr/share/doc/libslax0
	dh_install
